@layout('main')
  @section('content')
  <div class="jumbotron">
    <h1 class="display-4">{{ task.title }}</h1>
    <p class="lead">{{ task.body}}</p>
    <hr class="my-4">
    <a class="btn btn-primary btn-lg" href="/tasks" role="button">Voltar</a>
    <a class="btn btn-danger btn-lg" href="/remove/{{ task.id }}" role="button">Apagar</a>
  </div>
@endsection